/* Style for the entire page */
body {
  background-color: #2a2a2e;
  color: #cbcbcb;
  font-family: Roboto, sans-serif;
  width: 100%;
  height: 100%;
}

/* Style for the profile form */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Style for the label and input */
.form-group {
  display: flex;
  flex-direction: column;
}

/* Style for the title */
#title {
  text-align: center;
}

/* Style for the input boxes */
#profile-form input {
  width: 250px;
  height: 35px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #2a2a2e;
  border: 0.5px solid #818181;
  color: #fff;
}

/* Style for the bio input box */
#profile-form #bio-input {
  height: 100px;
}

/* Style for the save button */
#save-bnt {
  background-color: #4a801b;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 60px;
  height: 25px;
  font-size: 15px;
}

/* Style for the save button highlight */
#save-bnt:active {
  background-color: #53ad04;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 60px;
  height: 25px;
  font-size: 15px;
}

/* Style for the plus button */
#cancel-bnt {
  background-color: grey;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 60px;
  height: 25px;
  font-size: 15px;
}

/* Style for the plus button highlight */
#cancel-bnt:active {
  background-color: #9e9d9d;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 60px;
  height: 25px;
  font-size: 15px;
}

/* Style the header section */
header {
  width: auto;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

/* Style the CodeLog title */
#codelog {
  font-size: 64px;
  color: #9bbeda;
  font-family: Merriweather, serif;
}

/* Style the menu buttons in the header section */
.but {
  margin-left: auto;
  margin-right: 5%;
  display: flex;
  gap: 100px;
}

/* Style the buttons in the header section */
.but button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
  font-family: Inter, Arial, sans-serif;
}

/* Style the profile picture */
#profile-picture {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 250px;
  width: 100%;
}

/* Style the copyright footer */
#footer {
  padding-top: 5%;
  margin-left: 10%;
  font-size: 14px;
  height: 60px;
}
