/* CSS for the project home page */

/* Style the whole project home page */
body {
  background-color: #2a2a2e;
  color: #9bbeda;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Style the header section */
header {
  padding-left: 5%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc; /* Adds a grey line under the header */
}

/* Style the buttons in the header section */
.but {
  padding-left: 40%;
  display: flex;
  gap: 100px;
}

/* Style the buttons in the header section */
.but button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
}

/* Style the main body */
main {
  display: flex;
}

/* Style the user profile */
.profile {
  display: block;
  width: 15%;
  margin-top: 5%;
  margin-left: 5%;

  /* Delete the below line later on */
  border: solid white;
}

/* Style the whole project-collection class */
.project-collection {
  flex-direction: column;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 5%;
  border: solid yellow;
  width: 50%
}

/* Style each specific project */
.project {
  width: 40%; /* Width of each project box is 40% of the screen */
  border: solid grey;
  border-radius: 10px;
}

/* Style the tags of each project */
.tags {
  display: flex;
  gap: 10px;
}

/* Style the class of creating new project */
.new-project {
  display: none; /* Hide by default */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 20px;
}

/* Style the + button to create project */
#create-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: lightskyblue;
}

/* Style the copyright footer */
#footer {
  font-size:smaller;
  margin-top: 10%;
  display: flex;
  align-items: flex-end;
}
