/* CSS for the individual project page */

/* TODO:
 * Make table of contents link to journal entries (HTML)
 * Make the tags display horizontally inline
 * Find a better back button image so that the background doesn't have to be white
 * Get a higher-res favicon?
 */

/* Consistency features:
 * Margin: 10% on the left and right, 40px on the top
 * Footer: see footer styling
 * Font: Roboto
 * Backgrund color: #2a2a2e
 * Font color: matches Figma design
 */

/* Style the whole individual project page */
#individual-project {
  background-color: #2a2a2e;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 40px;
}

/* Apply font colors small text */
#individual-project p,
                    li {
  color: #cbcbcb;
}

/* Apply font colors to headers */
#individual-project h1,
                    h2 {
  color: white;
}

/* Position the project header in the top-left */
.project-header {
  margin-left: 10%;
  margin-top: -20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(20vw);
}

/* Style the back button */
#project-page-back-btn {
  position: absolute;
  top: 40px;
  left: 5%;
  cursor: pointer;
  background-color: inherit;
  appearance: none;
  border: none;
}

/* Style the back arrow image */
#back-arrow {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: white;
}

/* Style the table of contents */
#project-nav {
  border: solid white;
  border-radius: 10px;
  margin-top: 30px;
}

/* Style the table of contents header */
#table-header {
  text-align: center;
}

/* Center the main elements */
.container {
  width: 100%;
  margin: auto;
}

/* Display the journal entries in a column using a flex container */
#journal-entries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40%;
  margin-right: 10%;
}

/* Style each individual journal entry */
.journal-entry {
  position: relative;
  margin-bottom: 20px;
  border: solid white;
  border-radius: 10px;
  padding: 5px 10px;
  overflow-y: scroll;
  height: 200px;
}

/* Style the entry name */
.entry-name {
  color: #b6b6b6;
}

/* Style the entry tag */
.entry-template {
  color: #f24822;
  position: absolute;
  top: 15px;
  right: 10px;
}

/* Style the drag button container */
.drag-btn-container {
  /* Use absolute position to place the button container correctly */
  position: absolute;
  top: 10px;
  right: 40px;
  height: 100%;
}

/* Style the drag buttons within each journal entry */
.drag-btn {
  /* Use fixed position to keep the button visible while scrolling */
  position: fixed;
  cursor: grab;
}

/* Style the journal entry add button */
#entry-create-btn {
  position: fixed;
  top: 40px;
  right: 5%;
  cursor: pointer;
  font-size: calc(1vw);
}

/* End of individual project page styling */

/* Style the whole Journal page */
#journal-page {
  background-color: #222225;
  color: #9bbeda;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Style the back button color */
#back-btn {
  background-color: #9bbeda;
  color: #fff;
  position: absolute;
  top: 40px;
  right: 78%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Style the back button hover color and active */
#back-btn:hover {
  background-color: #426d96;
}

#back-btn:active {
  box-shadow: 2px 2px 5px #9bbeda;
}

/* Style the whole title, tag, template, and .MD file location */
#j-main {
  width: 55%;
  margin: auto;
  padding-left: 20px;
}

/* Style the whole title, tag, and templat. So that they can be side by side */
#journal-title {
  padding-top: 14px;
}

/* If tags are more than one, put them side by side */
#tags {
  display: flex;
  flex-wrap: wrap;
}

/* Make places between each tags */
.tag {
  padding-left: 12px;
}

/* Style the journal entry edit button */
#edit-emtrty-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
  background-color: #9bbeda;
  color: #fff;
}

#edit-emtrty-btn:hover {
  background-color: #426d96;
}

#edit-emtrty-btn:active {
  box-shadow: 2px 2px 5px #9bbeda;
}

footer {
  margin-left: 10%;
  position: fixed;
  bottom: 5px;
  left: 5px;
}
