/* CSS for the individual project page */

/* Consistency features:
 * Margin: 10% on the left and right, 40px on the top
 * Footer: see footer styling
 * Font: Roboto
 * Backgrund color: #2a2a2e
 * Font color: #9bbeda
 */

/* Style the whole individual project page */
#individual-project {
  background-color: #2a2a2e;
  color: #9bbeda;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 40px;
}

/* Position the project header in the top-left */
.project-header {
  margin-left: 10%;
  margin-top: -20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(20vw);
}

/* Style the back button */
#project-page-back-btn {
  position: absolute;
  top: 40px;
  left: 5%;
  cursor: pointer;
  font-size: calc(1vw);
}

/* Style the table of contents */
#project-nav {
  border: solid white;
  border-radius: 10px;
  margin-top: 30px;
}

/* Style the table of contents header */
#table-header {
  text-align: center;
}

/* Center the main elements */
.container {
  width: 100%;
  margin: auto;
}

/* Display the journal entries in a column using a flex container */
#journal-entries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40%;
  margin-right: 10%;
}

/* Style each individual journal entry */
.journal-entry {
  position: relative;
  margin-bottom: 20px;
  border: solid white;
  border-radius: 10px;
  padding: 5px 10px;
}

/* Style the entry tag */
.entry-tag {
  position: absolute;
  top: 5px;
  right: 10px;
}

/* Style the drag buttons within each journal entry */
.drag-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: grab;
}

/* Style the journal entry add button */
#entry-create-btn {
  position: fixed;
  top: 40px;
  right: 5%;
  cursor: pointer;
  font-size: calc(1vw);
}

/* End of individual project page styling */

/* Style the whole Journal page */
#journal-page {
  background-color: #222225;
  color: #9bbeda;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Style the back button color */
#back-btn {
  background-color: #9bbeda;
  color: #fff;
  position: absolute;
  top: 40px;
  right: 78%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
}

/* Style the back button hover color and active */
#back-btn:hover {
  background-color: #426d96;
}

#back-btn:active {
  box-shadow: 2px 2px 5px #9bbeda;
}

/* Style the whole title, tag, template, and .MD file location */
#j-main {
  width: 55%;
  margin: auto;
  padding-left: 20px;
}

/* Style the whole title, tag, and templat. So that they can be side by side */
#journal-title {
  padding-top: 14px;
}

/* If tags are more than one, put them side by side */
#tags {
  display: flex;
  flex-wrap: wrap;
}

/* Make places between each tags */
.tag {
  padding-left: 12px;
}

footer {
  margin-left: 10%;
  position: fixed;
  bottom: 5px;
  left: 5px;
}
