/* popup button for Project Page styling and positioning */
.pop-up {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  padding: 70px;
  background-color: #2a2a2e;
  color: #ffffff;
  max-width: 600px;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 5px;
  font-family: Roboto, sans-serif;
}

.pop-up form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Styling and positioning for the "+" buttons */
.pop-up button {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
}

#create-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #9bbeda;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.done-btn-position {
  display: flex;
  justify-content: flex-end;
}

#done-btn {
  background-color: #4A801B;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  width: 120px;
  height: 35px;
  font-size: 15px;
  cursor: pointer;
  align-items: flex-start;
}

#add-tag-btn {
  background-color: #4A801B;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  width: 90px;
  height: 35px;
  font-size: 15px;
  cursor: pointer;
}

/* back arrow button */
#project-page-back-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  flex-direction: column;
}

#project-page-back-btn img {
  width: 35px;
  height: 35px;
}

#project-page-back-btn {
  position: absolute;
  top: 67px;
  right: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  margin-top: 6px;
}

/* selection drop down styling */
.select-container {
  gap: 10px;
}

/* This is positioning and styling for entry title an desscription */
#new-project-name, #new-project-description {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ffffff;
  background-color: #2a2a2e;
  color: grey;
  border-radius: 4px;
  width: 500px;
  max-width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
}

#new-project-description {
  height: 80px;
}

h1, h3 {
  margin: 0;
}

h1 {
  font-size: 40px;
}

h3 {
  font-size: 15px;
}

/* Style for entry boxes and select dropdowns */
.select-container {
  display: flex;
  gap: 30px;
}

.dropdown-group h3, .dropdown-group select {
  margin: 5px;
}

.dropdown-group select {
  background-color: #2a2a2e;
  border: 1px solid #ffffff;
  color: grey;
  padding: 10px;
  border-radius: 5px;
  padding-right: 30px;
}